<div class="@DivCssClass">
    <button class="@ButtonCssClass" @onclick="InvokeParentMethod" @attributes=CustomButtonParameter>@ButtonName</button>
</div>

@code {
    [Parameter] public string? DivCssClass { get; set; }
    [Parameter] public string? ButtonCssClass { get; set; }
    [Parameter] public Dictionary<string, object>? CustomButtonParameter { get; set; }
    [Parameter] public string? ButtonName { get; set; }
    [Parameter] public Action? ButtonOnClickAction { get; set; }
    [Parameter] public EventCallback ButtonOnClickTask { get; set; }
    private void InvokeParentMethod()
    {
        if (ButtonOnClickAction != null)
        {
            ButtonOnClickAction?.Invoke();
        }
        else
        {
            ButtonOnClickTask.InvokeAsync();
        }
    }

}
