@inject IJSRuntime JS

<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-body carousel-dark carousel slide">
                <div class="photo-modal-zoom align-items-center justify-content-center" id="zoom">
                    @if (Photo != null)
                    {
                        <img src="@Photo.Path" class="img-fluid" />
                    }
                </div>
                @if (IsPrevPhoto)
                {
                    <button class="carousel-control-prev" type="button" @onclick="Back">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                }
                @if (IsNextPhoto)
                {
                    <button class="carousel-control-next" type="button" @onclick="Next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Sorter.Data.File? Photo { get; set; } = null;
    [Parameter] public bool IsPrevPhoto { get; set; }
    [Parameter] public bool IsNextPhoto { get; set; }
    [Parameter] public EventCallback OnNext { get; set; }
    [Parameter] public EventCallback OnBack { get; set; }

    public async Task Init()
    {
        if (Photo != null)
        {
            await JS.InvokeVoidAsync("loadZoom");
        }
    }
    private async Task Next()
    {
        await InvokeAsync(() => OnNext.InvokeAsync());
        await JS.InvokeVoidAsync("resetPosition");
    }
    private async Task Back()
    {
        await InvokeAsync(() => OnBack.InvokeAsync());
        await JS.InvokeVoidAsync("resetPosition");
    }
}
