.modal-body {
    overflow: hidden;
    padding: 0;
    border: 6px solid var(--bs-dark);
    border-radius: 0.3rem;
}

.photo-modal-zoom {
    margin: auto;
    width: fit-content;
    height: fit-content;
    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
/*    transition: transform 0.2s ease;*/
}

    .photo-modal-zoom > img {
        max-height: 90vh;
    }


.carousel-control-prev {
    width: 10%;
    justify-content: left;
}

    .carousel-control-prev:hover {
        background: linear-gradient(to right, var(--bs-dark) 0%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 100%);
        opacity: 1 !important;
    }

.carousel-control-next {
    width: 10%;
    justify-content: right;
}

    .carousel-control-next:hover {
        background: linear-gradient(to left, var(--bs-dark) 0%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 100%);
        opacity: 1 !important;
    }
