@inherits LayoutComponentBase

<PageTitle>Clean folders__</PageTitle>

<div class="page">
    <main>
        <a class="w-100 h-25 d-flex justify-content-center align-items-center my-5" href="/"><img class="h-100" src="clean_folders_logo.png"/></a>
        <article class="content px-4 d-flex justify-content-center">
            @Body
        </article>
    </main>
</div>
