@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;

<PageTitle>Sorter</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
        <BlazoredToasts Position="ToastPosition.BottomRight"
                        IconType="IconType.Material"
                        ShowProgressBar="true"
                        RemoveToastsOnNavigation="true"
                        PauseProgressOnHover="true"
                        MaxToastCount="3"
                        Timeout="10" />
    </main>
</div>
